scapy
pandas
matplotlib
seaborn
pyshark # Alternatif olarak veya ek olarak pyshark kullanabilirsiniz.
# Eğer pyshark kullanacaksanız, sisteminizde TShark (Wireshark ile gelen CLI aracı) yüklü olmalıdır.
